.main-container {
  display: flex;
  justify-content: center;
  .ProductList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;

    margin-top: 3em;
    max-width: 1050px;
    width: 90%;
    @media (max-width: 640px) {
      grid-template-columns: repeat(auto-fill, 140px);
    }
  }
}
