.header {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid gray;
    background-color: rgb(22, 21, 21);
    align-items: center;
    .menu {
      display: none;
      background-color: white;
      border-radius: 4px;
    }
    &-left,
    &-rigth {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        height: 60px;
        li {
          a {
            color: white;
            text-decoration: none;
            opacity: 0.5;
            padding: 8px;
            border-radius: 8px;
            transition-duration: 0.3s;
          }
          a:hover {
            opacity: 1;
          }
        }
      }
    }
    &-left {
      display: flex;
      align-items: center;
      ul {
        margin-left: 12px;
      }
    }
    &-rigth {
      ul {
        .navbar-email {
          color: white;
          opacity: 0.5;
          font-size: var(--sm);
          margin-right: 12px;
          cursor: pointer;
          transition-duration: 0.3s;
        }
        .navbar-email:hover {
          opacity: 1;
        }
        .navbar-shopping-cart {
          cursor: pointer;
          position: relative;
          div {
            width: 16px;
            height: 16px;
            background-color: var(--blue-ocean);
            border-radius: 50%;
            font-size: var(--sm);
            font-weight: bold;
            position: absolute;
            top: -6px;
            right: -3px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          svg {
            opacity: 0.5;
            transition-duration: 0.3s;
          }
        }
        .navbar-shopping-cart:hover svg {
          opacity: 1;
        }
      }
    }
  }
  @media (max-width: 640px) {
    .navbar {
      .menu {
        display: block;
      }
      &-left {
        ul {
          display: none;
        }
      }
      &-rigth {
        ul {
          .navbar-email {
            display: none;
          }
        }
      }
    }
  }
}
